.minhas-viagens-container {
  margin: 24px 108px;
  padding: 20px 30px;
  border-radius: 16px;
  background-color: white;
  height: 100%;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #222;
}

.aviso {
  border: 1px solid #f5c400;
  background-color: #fff9e5;
  padding: 12px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #7a5800;
}

.filtros-mobile {
  display: none;
}

.filtros-mobile button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.filtros-mobile button.ativo {
  background-color: #004da1;
  color: white;
  border-color: #004da1;
}

.lista-viagens-mobile {
  display: none;
  flex-direction: column;
  gap: 12px;
}
.tabela-viagens {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;

  border-radius: 12px;
}

.tabela-viagens th,
.tabela-viagens td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  text-align: left;
  cursor: pointer;
}

.tabela-viagens th {
  cursor: pointer;
}
.tabela-viagens th > div {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.tabela-viagens tr:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .minhas-viagens-container {
    margin: 24px 32px;
  }
  .filtros-mobile {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 16px;
  }
  .lista-viagens-mobile {
    display: flex;
  }
  .lista-viagens {
    display: none;
  }
}
