.card {
  display: flex;
  align-items: flex-start;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  gap: 16px;
  transition: 0.3s ease;
  position: relative;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.card:hover {
  transform: scale(1.01);
}

.card.viagem .card__icon {
  background-color: #7ba3ce;
}
.card.solicitações .card__icon {
  background-color: #a8b8d0;
}
.card.novasolicitação .card__icon {
  background-color: #9bd694;
}

.card__icon {
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.card__content {
  flex-grow: 1;
}

.card__title {
  font-size: 1.1rem;
  margin: 0 0 8px 0;
}

.card__list {
  padding-left: 20px;
  margin: 0;
}

.card__alert {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #d48900;
  font-size: 0.9rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .card {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
  }

  .card__icon {
    padding: 0.5rem;
  }

  .card__content {
    flex-grow: 1;
  }

  .card__title {
    font-size: 1rem;
  }

  .card__list {
    display: none;
  }

  .card__alert {
    position: static;
  }
}
